@font-face {
    font-family: "Candal-Regular";
    src: url(fonts/Candal-Regular.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

Header {}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Candal-Regular;
}

.MainContainer {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.liste {
    list-style-type: none;
}

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    height: 12vh;
    width: 100%;
    box-sizing: border-box;
}

.Navbar a {
    display: flex;
    flex-direction: column;
}

.Navbar svg {
    font-size: 1.5rem;
}

.logo {
    background-image: url("img/logo.png");
    height: 10vh;
    width: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fcfcfc; /* added */
}

.Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 80%;
}

.text div {
    font-size: 3rem;
}

.Banner input{
    background-color: #FB8A9A;
    padding: 2vh 0vh 2vh 3vh;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.25vh;
    font-family: OpenSans;
    width: 100%;
    border: none;
    outline: none;
}

input::placeholder{
    color: white;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.main-box {
    display: flex;
    flex-direction: column;
    margin-block: 50px;
    gap: 75px;
}

.cards {
    margin-inline: 75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-header {
    border: 1px dashed black;
    border-bottom: 0px;
    text-align: center;
    font-size: 1.5rem;
    padding-block: 25px;
}

.cards-body {
    display: flex;
    gap: 75px;
}


.head-card {
    text-align: center;
    color: #FB8A9A;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.head-card svg {
    font-size: 3rem;
}

.prix{
    font-family: OpenSans;
}

.body-card {
    text-align: justify;
    font-family: OpenSans;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Footer{
    display: flex;
    flex-direction: row;
    background-color: #213E4E; 
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 0vh 20vh 0vh;
}